{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}
    <p>Login page to go here</p>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <table>
            <tr>
                <th>
                    <label for="inputEmail">Email</label>
                </th>
                <td>
                    <input type="text" value="{{ last_username }}" name="username" id="inputId" class="form-control" required autofocus>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputPassword">Password</label>
                </td>
                <td>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </td>
            </tr>
        </table>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
