{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}
    Register

    {{ form_start(form) }}

    <table>
        {% if form.username is defined %}
            <tr>
                <td>
                    {{ form_label(form.username) }}
                </td>
                <td>
                    {{ form_widget(form.username) }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                {{ form_label(form.email) }}
            </td>
            <td>
                {{ form_widget(form.email) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.password) }}
            </td>
            <td>
                {{ form_widget(form.password) }}
            </td>
        </tr>

        {% if form.firstName is defined %}
            <tr>
                <td>
                    {{ form_label(form.firstName) }}
                </td>
                <td>
                    {{ form_widget(form.firstName) }}
                </td>
            </tr>
        {% endif %}
        {% if form.lastName is defined %}
            <tr>
                <td>
                    {{ form_label(form.lastName) }}
                </td>
                <td>
                    {{ form_widget(form.lastName) }}
                </td>
            </tr>
        {% endif %}
    </table>

    <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
